<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E56F1EE81C873D6500635CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E56F1EFC1C873D6600635CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E56F1F071C873D6600635CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
